@import "tailwindcss";

@theme{
    --color-primary: #FF9F0D;
    --color-secondary: #999966;
    --color-background: #000000;
    --color-info: #2F80ED;
    --color-success: #27AE60;
    --color-warning: #E2B93B;
    --color-error: #EB5757;
    --color-Gray1: #333333;
    --color-Gray2: #4f4f4f;
    --color-Gray3: #828282;
    --color-Gray4: #bdbdbd;
    --color-Gray5: #e0e0e0;
    --color-black2: #1d1d1d;
    --color-black3: #282822;
    --color-hover: #A8BCA1;
    --color-forground: #ffffff;
    --font-Inter: 'Inter';
    --font-great-vibes:"Great Vibes";
}

@layer base{
    body{
        background-color: var(--color-background);
        color: var(--color-forground);
        font-family: var(--font-Inter);
    }

    button{
        @apply cursor-pointer;
    }

    .container{
        @apply mx-auto;
    }

    h1{
        font-size: 3.75rem;
        line-height: 4.25rem;
        font-weight: bold;
    }

    h2{
        font-size: 3rem;
        line-height: 3.5rem;
        font-weight: bold;
    }

    h3{
        font-size: 2.5rem;
        line-height: 3rem;
    }

    h4{
        font-size: 2rem;
        line-height: 2.5rem;
    }

    h5{
        font-size: 1.5rem;
        line-height: 2rem;
    }

    h6{
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
}

@utility row{
    @apply flex items-center;
}

@utility nav-link{
    @apply text-[16px] leading-6 text-forground transition-all duration-300 hover:text-primary;
}

@utility smooth {
    @apply transition-all duration-500;
}

@utility icon-hover {
    @apply transition-all duration-500 hover:scale-110;
}

@utility hero-overlay {
    @apply absolute inset-0 bg-background/90;
}

@utility social-line{
    @apply h-25 w-px bg-Gray4;
}

@utility about-p{
    @apply flex gap-2.5 mb-6; 
}

@utility btn{
    @apply bg-primary rounded-[30px] icon-hover hover:bg-primary/50 inline-flex active:scale-105;
}