@import "tailwindcss";

@theme {
    --color-primary: #FF9F0D;
    --color-primary-coffe: #BC9A6C;
    --color-secondary: #999966;
    --color-background: #000000;
    --color-info: #2F80ED;
    --color-success: #27AE60;
    --color-warning: #E2B93B;
    --color-error: #EB5757;
    --color-Gray1: #333333;
    --color-Gray2: #4f4f4f;
    --color-Gray3: #828282;
    --color-Gray4: #bdbdbd;
    --color-Gray5: #e0e0e0;
    --color-black2: #1d1d1d;
    --color-black3: #282822;
    --color-hover: #A8BCA1;
    --color-forground: #ffffff;
    --font-Inter: 'Inter';
    --font-great-vibes: "Great Vibes";
}

@layer base {
    body {
        font-family: var(--font-Inter);
    }

    button {
        @apply cursor-pointer;
    }

    .container {
        @apply mx-auto;
    }

    h1 {
        font-size: 3.75rem;
        line-height: 4.25rem;
        font-weight: bold;
    }

    h2 {
        font-size: 3rem;
        line-height: 3.5rem;
        font-weight: bold;
    }

    h3 {
        font-size: 2.5rem;
        line-height: 3rem;
        font-weight: bold;
    }

    h4 {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    h5 {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    h6 {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }

    span {
        @apply text-primary;
    }
}

@utility row {
    @apply flex items-center;
}

@utility smooth {
    @apply transition-all duration-500;
}

@utility icon-hover {
    @apply transition-all duration-500 hover:scale-110;
}

@utility h2-style {
    @apply text-[25px] md:text-[30px] lg:text-[42px] xl:text-[48px] leading-6 md:leading-10 lg:leading-14;
}

@utility h3-style {
    @apply text-[20px] md:text-[25px] lg:text-[30px] xl:text-[40px] leading-6 md:leading-8 lg:leading-12;
}

@utility h4-style {
    @apply text-[18px] md:text-[20px] lg:text-[28px] xl:text-[32px] leading-4 md:leading-6 lg:leading-10 font-bold;
}

@utility h5-style {
    @apply text-[16px] xl:text-[24px] leading-4 md:leading-6 lg:leading-8 font-bold;
}

@utility h6-style {
    @apply text-[14px] lg:text-[17px] xl:text-[20px] leading-2 md:leading-4 lg:leading-7 font-bold;
}

@utility feature-p {
    @apply text-[14px] md:text-[18px] leading-6.5;
}

@utility menu-p {
    @apply text-[10px] leading-3.5 lg:text-[12px] lg:leading-4.5 xl:text-[14px] xl:leading-5.5;
}

@utility menu-span {
    @apply text-[12px] leading-3.5 lg:text-[14px] lg:leading-4.5 xl:text-[18px] xl:leading-6.5 font-bold;
}

@utility about-p {
    @apply text-[12px] md:text-[15px] xl:text-[16px] leading-6;
}

@utility menu-list {
    @apply max-[420px]:text-[10px] text-[13px] leading-3 md:text-[16px] md:leading-5 lg:text-[20px] lg:leading-7;
}

@layer components {
    .nav-link {
        @apply text-[16px] leading-6 text-forground relative smooth hover:text-primary after:content-[''] after:absolute after:left-1/2 after:top-full after:mt-1 after:h-0.5 after:w-0 after:bg-primary after:smooth after:-translate-x-1/2 hover:after:w-5;
    }

    .hero-overlay {
        @apply absolute inset-0 bg-background/90;
    }

    .social-line {
        @apply h-25 w-px bg-Gray4;
    }

    .head-span {
        @apply font-great-vibes text-[28px] md:text-[32px] leading-8 xl:leading-10;
    }

    .about-li {
        @apply flex gap-2.5 mb-3 xl:mb-6 smooth hover:translate-x-1 hover:text-primary;
    }

    .btn {
        @apply bg-primary rounded-[30px] icon-hover hover:bg-primary/50 inline-flex active:scale-105;
    }

    .category-card {
        @apply relative overflow-hidden smooth hover:-translate-y-2 hover:shadow-xl;
    }

    .category-card-img {
        @apply w-full icon-hover hover:opacity-30;
    }

    .feature-box {
        @apply row flex-col gap-2.25 smooth hover:-translate-y-1;
    }

    .feature-icon {
        @apply bg-primary p-4 md:p-5.5 rounded-md smooth hover:scale-110 hover:bg-primary/90;
    }

    .stats_box {
        @apply row flex-col text-center gap-6 xl:gap-8;
    }

    .stats-img {
        @apply smooth group-hover:translate-x-1;
    }

    .menu-col {
        @apply flex flex-col gap-4 xl:gap-8;
    }

    .menu-item {
        @apply row gap-2.25 smooth hover:translate-x-1;
    }

    .menu-description {
        @apply flex flex-1 flex-col gap-1 xl:gap-2;
    }

    .menu-tab {
        @apply menu-list smooth relative hover:text-primary after:content-[''] after:absolute after:left-0 after:-bottom-1 after:h-px after:w-0 after:bg-primary after:smooth hover:after:w-full;
    }

    .chef-item {
        @apply relative rounded-md overflow-hidden smooth hover:-translate-y-2 hover:shadow-xl hover:shadow-primary-coffe/20;
    }

    .chef-img {
        @apply w-full smooth group-hover:scale-110 group-hover:brightness-80 aspect-[0.85/1] md:aspect-[1/1.1] object-cover;
    }

    .chef-info {
        @apply absolute bg-white pb-2.25 pt-3 gap-2 pl-4 pr-14.5 md:pl-5 md:pr-16.5 rounded-bl-md bottom-0 smooth group-hover:bg-primary-coffe;
    }

    .chef-info-span {
        @apply text-primary-coffe text-[14px] leading-4.5 lg:text-[18px] lg:leading-6.5 font-bold smooth group-hover:text-white;
    }

    .chef-info-p {
        @apply text-primary-coffe text-[13px] leading-3.5 lg:text-[14px] lg:leading-5.5 smooth group-hover:text-white;
    }

    .testimonial-star {
        @apply icon-hover cursor-pointer hover:brightness-110;
    }

    .testimonial-dot {
        @apply icon-hover cursor-pointer hover:opacity-80;
    }

    .blog-card {
        @apply border border-Gray3 flex flex-col overflow-hidden smooth hover:-translate-y-2 cursor-pointer hover:border-primary hover:shadow-lg hover:shadow-primary/20;
    }

    .blog-card-content {
        @apply flex flex-col flex-1 py-5.5 px-8.75 lg:py-7.5 lg:px-10.75;
    }

    .blog-card-footer {
        @apply flex justify-between items-center;
    }

    .blog-footer-icons {
        @apply row gap-1.5 lg:gap-2;
    }

    .card-img-div {
        @apply w-full overflow-hidden;
    }

    .card-img {
        @apply w-full h-full object-cover smooth;
    }

    .footer-link {
        @apply text-[13px] md:text-[15px] xl:text-[20px] xl:leading-7 smooth hover:text-primary hover:translate-x-1 relative after:content-[''] after:absolute after:left-0 after:-bottom-1 after:h-px after:w-0 after:bg-primary after:smooth hover:after:w-full;
    }

    .post-item {
        @apply flex gap-4 smooth hover:translate-x-1 cursor-pointer;
    }


    .social-link {
        @apply bg-white pt-[8.5px] pb-[7.5px] rounded-xs smooth hover:-translate-y-1 hover:bg-white/80 cursor-pointer;
    }

    .menu-header-icon {
        @apply icon-hover hover:brightness-75;
    }

    .Menu-items {
        @apply flex flex-col gap-4 md:gap-5 lg:gap-6;
    }

    .Menu-item {
        @apply flex justify-between border-b border-Gray5 smooth hover:translate-x-1 hover:border-primary;
    }

    .menu-img {
        @apply w-full h-auto object-cover rounded-md md:rounded-none smooth hover:scale-110 hover:brightness-90;
    }

    .partner-logo {
        @apply icon-hover cursor-pointer;
    }
}

@utility h5-blog-card {
    @apply text-[14px] md:text-[15px] lg:text-[16px] xl:text-[24px] pt-3 xl:pt-4 pb-6 xl:pb-8 font-bold flex-1;
}

@utility blog-card-span {
    @apply text-[13px] leading-4 lg:text-[16px] lg:leading-6;
}

@utility a-blog-card {
    @apply text-[13px] leading-4 lg:text-[16px] lg:leading-6 smooth group-hover:text-primary;
}

@utility blog-footer-icon {
    @apply icon-hover hover:brightness-125;
}

@utility post-data-span {
    @apply text-Gray2 text-[12px] md:text-[13px] xl:text-[16px] leading-3 md:leading-4 xl:leading-6 smooth group-hover:text-white;
}

@utility post-data-p {
    @apply text-[13px] md:text-[14px] xl:text-[18px] leading-3.5 md:leading-4.5 xl:leading-6.5 smooth group-hover:text-primary;
}

@utility post-item-img {
    @apply smooth group-hover:scale-105;
}

@utility hero-link {
    @apply text-[16px] leading-6 md:text-[18px] md:leading-6 lg:text-[20px] lg:leading-7 relative smooth hover:text-primary after:content-[''] after:absolute after:left-0 after:-bottom-1 after:h-0.5 after:w-0 after:bg-primary after:transition-all after:duration-300 hover:after:w-full;
}

@utility menu-item-text {
    @apply gap-2 pb-3 md:pb-4;
}

@utility h5-menu-item-text {
    @apply font-bold text-[16px] lg:text-[20px] xl:text-[24px] text-Gray1 group-hover:text-primary smooth;
}

@utility p-menu-item-text {
    @apply text-Gray2 text-[14px] xl:text-[16px];
}

@utility span-menu-item-text {
    @apply text-Gray3 text-[14px] xl:text-[16px] group-hover:text-primary smooth;
}

@utility post-data-p-menu {
    @apply text-[10px] md:text-[12px] xl:text-[16px] smooth group-hover:text-primary;
}

@utility post-data-span-menu {
    @apply text-Gray2 text-[8px] md:text-[10px] xl:text-[14px] smooth group-hover:text-white;
}