@import "tailwindcss";

@theme {
    --color-primary: #FF9F0D;
    --color-primary-coffe: #BC9A6C;
    --color-secondary: #999966;
    --color-background: #000000;
    --color-info: #2F80ED;
    --color-success: #27AE60;
    --color-warning: #E2B93B;
    --color-error: #EB5757;
    --color-Gray1: #333333;
    --color-Gray2: #4f4f4f;
    --color-Gray3: #828282;
    --color-Gray4: #bdbdbd;
    --color-Gray5: #e0e0e0;
    --color-black2: #1d1d1d;
    --color-black3: #282822;
    --color-hover: #A8BCA1;
    --color-foreground: #ffffff;
    --font-Inter: 'Inter';
    --font-great-vibes: "Great Vibes";
}

@layer base {
    body {
        font-family: var(--font-Inter);
    }

    button {
        @apply cursor-pointer;
    }

    .container {
        @apply mx-auto;
    }

    h1 {
        font-size: 3.75rem;
        line-height: 4.25rem;
        font-weight: bold;
    }

    h2 {
        font-size: 3rem;
        line-height: 3.5rem;
        font-weight: bold;
    }

    h3 {
        font-size: 2.5rem;
        line-height: 3rem;
        font-weight: bold;
    }

    h4 {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    h5 {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    h6 {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }

    span {
        @apply text-primary;
    }

}

@utility row {
    @apply flex items-center;
}

@utility smooth {
    @apply transition-all duration-500;
}

@utility icon-hover {
    @apply transition-all duration-500 hover:scale-110;
}

@utility h2-style {
    @apply text-[25px] md:text-[30px] lg:text-[42px] xl:text-[48px] leading-6 md:leading-10 lg:leading-14;
}

@utility h3-style {
    @apply text-[20px] md:text-[25px] lg:text-[30px] xl:text-[40px] leading-6 md:leading-8 lg:leading-12;
}

@utility h4-style {
    @apply text-[18px] md:text-[20px] lg:text-[28px] xl:text-[32px] leading-4 md:leading-6 lg:leading-10 font-bold;
}

@utility h5-style {
    @apply text-[16px] xl:text-[24px] leading-4 md:leading-6 lg:leading-8 font-bold;
}

@utility h6-style {
    @apply text-[14px] lg:text-[17px] xl:text-[20px] leading-2 md:leading-4 lg:leading-7 font-bold;
}

@utility feature-p {
    @apply text-[14px] md:text-[18px] leading-6.5;
}

@utility menu-p {
    @apply text-[10px] leading-3.5 lg:text-[12px] lg:leading-4.5 xl:text-[14px] xl:leading-5.5;
}

@utility menu-span {
    @apply text-[12px] leading-3.5 lg:text-[14px] lg:leading-4.5 xl:text-[18px] xl:leading-6.5 font-bold;
}

@utility about-p {
    @apply text-[12px] md:text-[15px] xl:text-[16px] leading-6;
}

@utility menu-list {
    @apply max-[420px]:text-[10px] text-[13px] leading-3 md:text-[16px] md:leading-5 lg:text-[20px] lg:leading-7;
}

@layer components {

    .nav-link {
        @apply text-[16px] leading-6 text-foreground relative smooth hover:text-primary after:content-[''] after:absolute after:left-1/2 after:top-full after:mt-1 after:h-0.5 after:w-0 after:bg-primary after:smooth after:-translate-x-1/2 hover:after:w-5;
    }

    .hero-overlay {
        @apply absolute inset-0 bg-background/90;
    }

    .social-line {
        @apply h-25 w-px bg-Gray4;
    }

    .head-span {
        @apply font-great-vibes text-[28px] md:text-[32px] leading-8 xl:leading-10;
    }

    .about-li {
        @apply flex gap-2.5 mb-3 xl:mb-6 smooth hover:translate-x-1 hover:text-primary;
    }

    .btn {
        @apply bg-primary rounded-[30px] icon-hover hover:bg-primary/50 inline-flex active:scale-105;
    }

    .category-card {
        @apply relative overflow-hidden smooth hover:-translate-y-2 hover:shadow-xl;
    }

    .category-card-img {
        @apply w-full icon-hover hover:opacity-30;
    }

    .feature-box {
        @apply row flex-col gap-2.25 smooth hover:-translate-y-1;
    }

    .feature-icon {
        @apply bg-primary p-4 md:p-5.5 rounded-md smooth hover:scale-110 hover:bg-primary/90;
    }

    .stats_box {
        @apply row flex-col text-center gap-6 xl:gap-8;
    }

    .stats-img {
        @apply smooth group-hover:translate-x-1;
    }

    .menu-col {
        @apply flex flex-col gap-4 xl:gap-8;
    }

    .menu-item {
        @apply row gap-2.25 smooth hover:translate-x-1;
    }

    .menu-description {
        @apply flex flex-1 flex-col gap-1 xl:gap-2;
    }

    .menu-tab {
        @apply menu-list smooth relative hover:text-primary after:content-[''] after:absolute after:left-0 after:-bottom-1 after:h-px after:w-0 after:bg-primary after:smooth hover:after:w-full;
    }

    .chef-item {
        @apply relative rounded-md overflow-hidden smooth hover:-translate-y-2 hover:shadow-xl hover:shadow-primary-coffe/20;
    }

    .chef-img {
        @apply w-full smooth group-hover:scale-110 group-hover:brightness-80 aspect-[0.85/1] md:aspect-[1/1.1] object-cover;
    }

    .chef-info {
        @apply absolute bg-white pb-2.25 pt-3 gap-2 pl-4 pr-14.5 md:pl-5 md:pr-16.5 rounded-bl-md bottom-0 smooth group-hover:bg-primary-coffe;
    }

    .chef-info-span {
        @apply text-primary-coffe text-[14px] leading-4.5 lg:text-[18px] lg:leading-6.5 font-bold smooth group-hover:text-white;
    }

    .chef-info-p {
        @apply text-primary-coffe text-[13px] leading-3.5 lg:text-[14px] lg:leading-5.5 smooth group-hover:text-white;
    }

    .testimonial-star {
        @apply icon-hover cursor-pointer hover:brightness-110;
    }

    .testimonial-dot {
        @apply icon-hover cursor-pointer hover:opacity-80;
    }

    .blog-card {
        @apply border border-Gray3 flex flex-col overflow-hidden smooth hover:-translate-y-2 cursor-pointer hover:border-primary hover:shadow-lg hover:shadow-primary/20;
    }

    .blog-card-content {
        @apply flex flex-col flex-1 py-5.5 px-8.75 lg:py-7.5 lg:px-10.75;
    }

    .blog-card-footer {
        @apply flex justify-between items-center;
    }

    .blog-footer-icons {
        @apply row gap-1.5 lg:gap-2;
    }

    .card-img-div {
        @apply w-full overflow-hidden;
    }

    .card-img {
        @apply w-full h-full object-cover smooth;
    }

    .footer-link {
        @apply text-[13px] md:text-[15px] xl:text-[20px] xl:leading-7 smooth hover:text-primary hover:translate-x-1 relative after:content-[''] after:absolute after:left-0 after:-bottom-1 after:h-px after:w-0 after:bg-primary after:smooth hover:after:w-full;
    }

    .post-item {
        @apply flex gap-4 smooth hover:translate-x-1 cursor-pointer;
    }


    .social-link {
        @apply bg-white pt-[8.5px] pb-[7.5px] rounded-xs smooth hover:-translate-y-1 hover:bg-white/80 cursor-pointer;
    }

    .header-icon {
        @apply icon-hover hover:brightness-75;
    }

    .Menu-items {
        @apply flex flex-col gap-4 md:gap-5 lg:gap-6;
    }

    .Menu-item {
        @apply flex justify-between border-b border-Gray5 smooth hover:translate-x-1 hover:border-primary;
    }

    .menu-img {
        @apply w-full h-auto object-cover rounded-md md:rounded-none smooth hover:scale-110 hover:brightness-90;
    }

    .partner-logo {
        @apply icon-hover cursor-pointer;
    }

    .filter-form {
        @apply flex gap-2.5 md:gap-2.75 lg:gap-3.75 items-center;
    }

    .filter-form-label {
        @apply text-[14px] leading-5 md:text-[16px] md:leading-6 lg:text-[20px] lg:leading-7 text-Gray1;
    }

    .filter-form-select {
        @apply text-[12px] leading-4.5 md:text-[14px] md:leading-5.5 lg:text-[18px] lg:leading-6.5 text-Gray4 py-1.5 px-3.5 md:py-2.5 md:px-4.5 border border-Gray5 rounded-sm outline-none smooth hover:border-primary hover:text-Gray1 focus:border-primary focus:text-Gray1;
    }

    .product-img {
        @apply relative overflow-hidden;
    }

    .product-icons {
        @apply absolute left-10 xl:left-20.75 top-1/2 flex gap-[12.79px] opacity-0 smooth z-20 group-hover:opacity-100;
    }

    .product-icons img {
        @apply icon-hover;
    }

    .product-icon-primary {
        @apply bg-primary pt-[7.78px] pb-[8.72px] pl-2.75 pr-[11.18px] rounded-xs shadow-lg;
    }

    .product-icon-white {
        @apply bg-white pt-[7.78px] pb-[8.72px] pl-2.75 pr-[11.18px] rounded-xs shadow-lg;
    }

    .product-info {
        @apply pt-2 gap-1;
    }

    .product-info-span {
        @apply text-[14px] leading-5.5 lg:text-[18px] lg:leading-6.5 font-bold text-Gray1;
    }

    .product-price {
        @apply flex gap-2;
    }

    .product-price-span {
        @apply text-[14px] leading-4 lg:text-[16px] lg:leading-6;
    }

    .product-price-del {
        @apply text-[14px] leading-4 lg:text-[16px] lg:leading-6 text-Gray3;
    }

    .sell-span {
        @apply absolute opacity-100 z-10 left-4 top-4 xl:left-7.5 xl:top-6.75 text-white text-[12px] lg:text-[14px] leading-5.5 bg-primary px-3.5 py-0.5 rounded-sm;
    }

    .pagination-li-img {
        @apply bg-white border border-Gray5 pt-3.25 pb-2 px-2.5 md:pt-5.25 md:pb-4 md:px-4.5 smooth hover:bg-primary/50;
    }

    .pagination-li {
        @apply bg-white text-primary border border-Gray5 py-2.25 px-4.25 md:py-3.25 md:px-5.25 smooth hover:text-white hover:bg-primary;
    }

    .checkbox-item {
        @apply row gap-2 text-Gray1 text-[13px] lg:text-[15px] xl:text-[18px] smooth hover:text-primary hover:translate-x-1;
    }

    .checkbox-item input {
        @apply accent-primary cursor-pointer;
    }

    .latest {
        @apply flex flex-col gap-4 xl:gap-6;
    }

    .latest-products {
        @apply flex flex-col gap-4.5;
    }

    .latest-product {
        @apply flex gap-[15.58px] smooth cursor-pointer hover:translate-x-1;
    }

    .latest-product-content-p {
        @apply text-Gray2 text-[13px] leading-4 md:text-[14px] md:leading-5 xl:text-[16px] xl:leading-6 pb-2 smooth group-hover:text-primary;
    }

    .star-imgs {
        @apply flex gap-[3.94px] pb-1;
    }

    .latest-product-content-span {
        @apply text-Gray2 text-[11px] md:text-[12px] xl:text-[14px] smooth group-hover:text-primary;
    }

    .tag {
        @apply text-Gray2 border-b border-b-Gray5 smooth hover:text-primary hover:border-primary;
    }

    .product-card {
        @apply smooth cursor-pointer hover:-translate-y-2 hover:shadow-xl hover:shadow-primary/20;
    }

    .product-img {
        @apply relative overflow-hidden after:content-[''] after:absolute after:inset-0 after:bg-black/60 after:opacity-0 after:smooth;
    }


    .product-card:hover .product-img::after {
        @apply opacity-100;
    }

    .cart-table {
        @apply w-full flex flex-col gap-4 md:gap-8;
    }

    .cart-head {
        @apply hidden md:grid grid-cols-[2fr_1fr_1fr_1fr_1fr] items-center text-Gray1;
    }

    .cart-row {
        @apply flex flex-col gap-3 py-2 rounded-md md:grid md:grid-cols-[2fr_1fr_1fr_1fr_1fr] md:items-center md:pb-4.5 md:border-b md:border-b-Gray5 md:rounded-none md:shadow-none md:bg-transparent smooth hover:border-primary/40 hover:shadow-md hover:-translate-y-1;
    }

    .cart-mobile {
        @apply flex justify-between md:block;
    }

    .cart-product {
        @apply flex items-center md:items-start gap-3 md:gap-4;
    }

    .cart-product-img {
        @apply smooth group-hover:brightness-90;
    }

    .cart-product-info {
        @apply flex flex-col gap-1 md:gap-2;
    }

    .cart-product-info-h6 {
        @apply smooth group-hover:text-primary;
    }

    .cart-price {
        @apply text-[12px] md:text-[14px] lg:text-[16px] text-Gray1 smooth hover:text-primary;
    }

    .cart-desktop {
        @apply hidden md:contents;
    }

    .cart-total {
        @apply font-bold text-[12px] md:text-[14px] lg:text-[16px] text-Gray1 smooth hover:text-primary;
    }

    .cart-quantity {
        @apply w-fit flex items-center gap-5 border border-Gray5 rounded-[18px] px-3.75 py-1 smooth hover:border-primary;
    }

    .cart-quantity-button {
        @apply icon-hover active:scale-95;
    }

    .cart-quantity-span {
        @apply text-[16px] text-Gray1;
    }

    .cart-mobile-info {
        @apply flex flex-col gap-2 md:hidden;
    }

    .cart-mobile-line {
        @apply flex items-center justify-between text-[12px] leading-4 text-Gray1 smooth hover:text-primary;
    }

    .cart-mobile-span {
        @apply font-bold text-Gray1 text-[12px] smooth hover:text-primary;
    }

    .cart-mobile-quantity {
        @apply flex items-center justify-between md:hidden;
    }

    .cart-mobile-remove {
        @apply md:hidden;
    }

    .cart-remove-img,
    .cart-mobile-remove-img {
        @apply icon-hover hover:rotate-90 hover:brightness-75;
    }

    .h4-style-box {
        @apply h4-style text-Gray1 pb-4 md:pb-5 lg:pb-6 smooth hover:text-primary;
    }

    .cart-box {
        @apply w-full md:flex-1 smooth hover:-translate-y-1;
    }

    .box-content {
        @apply border border-Gray4 rounded-md smooth hover:border-primary/50 hover:shadow-lg hover:shadow-primary/10;
    }

    .cart-box-h6 {
        @apply h6-style text-Gray1 smooth hover:text-primary;
    }

    .total-row {
        @apply flex flex-col gap-3.75;
    }

    .total-row-1 {
        @apply flex items-center justify-between;
    }

    .cart-box-price {
        @apply text-[13px] md:text-[16px] lg:text-[18px] leading-4 md:leading-5 lg:leading-6.5 font-bold text-Gray1 smooth hover:text-primary;
    }

    .about-food-img img {
        @apply icon-hover;
    }

    .why-choose-us-feature {
        @apply flex flex-col items-center smooth hover:-translate-y-2 cursor-pointer;
    }

    .why-choose-us-feature-h5 {
        @apply h5-style lg:text-[20px] text-Gray1 pt-6 pb-4 smooth group-hover:text-primary;
    }

    .why-feature-icon {
        @apply icon-hover;
    }

    .why-choose-us-feature-p {
        @apply text-Gray2 text-[12px] md:text-[14px] lg:text-[16px] leading-5 md:leading-6 max-w-70 smooth group-hover:text-Gray1;
    }

    .team-member-card {
        @apply smooth hover:-translate-y-2 hover:shadow-xl;
    }

    .team-member-img {
        @apply relative overflow-hidden;
    }

    .team-member-img img {
        @apply w-full smooth group-hover:scale-110 group-hover:brightness-60;
    }

    .social-icons {
        @apply absolute top-4 right-4 flex flex-col gap-3 opacity-0 translate-x-5 smooth group-hover:opacity-100 group-hover:translate-x-0;
    }

    .social-icon {
        @apply bg-white pt-2.25 pb-2 rounded-xs icon-hover hover:bg-primary;
    }

    .social-icon-primary {
        @apply bg-primary pt-2 pb-2.25 px-2.25 rounded-xs icon-hover hover:bg-Gray2;
    }

    .team-member-info {
        @apply py-4 flex flex-col gap-2 text-center items-center;
    }

    .team-member-info-h3 {
        @apply h6-style text-Gray2 smooth group-hover:text-primary;
    }

    .team-member-info-p {
        @apply text-Gray3 text-[12px] md:text-[14px] leading-5 lg:text-[16px] lg:leading-6 group-hover:text-Gray2;
    }

    .about-menu-links {
        @apply row justify-center gap-3 md:gap-8 lg:gap-11.5 border-b border-Gray5 pb-4 md:pb-5 xl:pb-6;
    }

    .about-menu-link {
        @apply relative text-Gray2 text-[12px] md:text-[14px] lg:text-[20px] pb-4 md:pb-5 xl:pb-6 smooth hover:text-primary whitespace-nowrap after:content-[''] after:absolute after:left-0 after:-bottom-4 md:after:-bottom-5 xl:after:-bottom-6 after:h-px after:w-0 after:bg-primary after:smooth hover:after:w-full;
    }

    .about-menu-list {
        @apply grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-6 py-8 md:py-10 lg:py-12 xl:py-14.5;
    }

    .about-menu-col {
        @apply flex flex-col gap-4 md:gap-5 lg:gap-6;
    }

    .about-menu-item {
        @apply flex justify-between border-b border-dashed border-Gray5 pb-2 md:pb-3 lg:pb-4 smooth cursor-pointer hover:border-primary hover:bg-primary/5 hover:rounded-md hover:-translate-y-1;
    }

    .about-menu-item-content {
        @apply flex flex-col gap-2;
    }

    Restaurant1,
    Menu,
    Shop list,
    Shopping Cart,
    Blog page,
    About us,
    Sign up pageو Sign in page .about-menu-item-content-h5 {
        @apply h5-style lg:text-[20px] text-Gray1 smooth group-hover:text-primary;
    }

    .about-menu-item-content-p {
        @apply text-Gray2 text-[12px] md:text-[13px] lg:text-[16px] leading-5 lg:leading-6 smooth group-hover:text-Gray1;
    }

    .about-menu-item-content-span {
        @apply text-Gray3 text-[11px] md:text-[12px] lg:text-[16px] smooth group-hover:text-primary;
    }

    .about-menu-price h5 {
        @apply h5-style lg:text-[20px] text-primary smooth group-hover:scale-110;
    }

    .about-menu-btn {
        @apply flex justify-center;
    }

    .about-menu-btn a {
        @apply border border-primary py-1.5 px-4 md:py-2.5 md:px-6 lg:py-3.5 lg:px-8 text-primary text-[11px] md:text-[13px] lg:text-[16px] leading-5 lg:leading-6 smooth hover:bg-primary hover:text-white hover:-translate-y-1 hover:shadow-lg hover:shadow-primary/30 active:scale-95;
    }

    .sign-card {
        @apply max-w-108 mx-auto smooth hover:-translate-y-1.5 hover:shadow-xl hover:shadow-primary/20;
    }

    .sign-form {
        @apply flex flex-col;
    }

    .sign-content {
        @apply p-6 md:p-8;
    }

    .sign-content-h4 {
        @apply h4-style text-Gray1 pb-4 md:pb-6 lg:pb-8 smooth group-hover:text-primary;
    }

    .form-group {
        @apply flex items-center w-full border border-Gray5 mb-4 smooth focus-within:border-primary px-4 py-2.5 hover:border-primary/60 hover:-translate-y-0.5 group-hover:border-Gray4;
    }

    .form-group-img {
        @apply pr-2;
    }

    .form-group-input {
        @apply flex-1 border-0 outline-none bg-transparent text-[12px] md:text-[13px] lg:text-[16px] leading-5 lg:leading-6 text-Gray2 placeholder:text-Gray3 smooth group-hover:placeholder:text-Gray2;
    }

    .form-option {
        @apply flex items-center gap-2 pb-4 md:pb-6 lg:pb-8 smooth hover:translate-x-1;
    }

    .form-option-input {
        @apply w-3 h-3 md:w-4 md:h-4 lg:w-5 lg:h-5 accent-primary cursor-pointer icon-hover;
    }

    .form-option-label {
        @apply text-[10px] md:text-[12px] lg:text-[14px] text-Gray1 cursor-pointer smooth hover:text-primary;
    }

    .sign-btn {
        @apply flex flex-col gap-2 md:gap-4 pb-4 md:pb-6 lg:pb-8;
    }

    .signup-btn {
        @apply w-full bg-primary text-white py-1.5 md:py-2.5 text-[12px] md:text-[13px] lg:text-[16px] leading-5 lg:leading-6 smooth hover:bg-Gray1 hover:-translate-y-1 hover:shadow-lg hover:shadow-primary/30 active:scale-95;
    }

    .forgot-password {
        @apply text-end text-Gray3 text-[10px] md:text-[12px] lg:text-[14px] smooth hover:text-primary hover:translate-x-1;
    }

    .divider {
        @apply flex justify-center items-center after:content-[""] after:flex-1 after:bg-Gray5 after:h-px before:content-[""] before:flex-1 before:bg-Gray5 before:h-px;
    }

    .group:hover .divider::before,
    .group:hover .divider::after {
        @apply smooth bg-primary;
    }

    .divider-p {
        @apply border border-Gray5 p-1.25 text-[10px] md:text-[12px] lg:text-[14px] smooth group-hover:border-primary;
    }

    .social-btns {
        @apply flex flex-col pt-2 md:pt-4 gap-2 md:gap-4;
    }

    .social-btn {
        @apply grid grid-cols-[auto_1fr_auto] items-center px-3 md:px-4 py-2 md:py-3 border border-Gray5 smooth hover:border-primary hover:-translate-y-1 hover:shadow-md hover:shadow-primary/15 active:scale-95;
    }

    .social-btn-span {
        @apply text-[12px] md:text-[13px] lg:text-[16px] leading-5 lg:leading-6 text-Gray2;
    }

    .blog-sec-card {
        @apply overflow-hidden flex flex-col smooth cursor-pointer hover:-translate-y-2 hover:shadow-xl hover:shadow-primary/15;
    }

    .blog-sec-card-img {
        @apply relative overflow-hidden;
    }

    .blog-sec-card-img img {
        @apply object-cover smooth group-hover:scale-105 group-hover:brightness-90;
    }

    .blog-date {
        @apply absolute top-4 left-4 md:top-5 md:left-5 xl:top-6 xl:left-6 bg-primary flex flex-col items-center justify-center px-3.5 py-2 md:px-4 rounded-md opacity-0 -translate-y-3 smooth group-hover:opacity-100;
    }

    .blog-date-span1 {
        @apply text-white font-bold text-[12px] md:text-[14px] lg:text-[18px] leading-5 md:leading-6.5;
    }

    .blog-date-span2 {
        @apply text-white text-[10px] md:text-[13px] lg:text-[16px] leading-5 md:leading-6.5;
    }

    .blog-sec-content {
        @apply pt-3 md:pt-4;
    }

    .blog-meta {
        @apply flex items-center gap-2 md:gap-3 lg:gap-4 pb-3 md:pb-4;
    }

    .blog-meta-li {
        @apply flex items-center gap-1.5 md:gap-2 smooth group-hover:translate-x-1;
    }

    .blog-meta-li-img {
        @apply icon-hover group-hover:brightness-75;
    }

    .blog-meta-li-span {
        @apply text-Gray2 text-[12px] md:text-[14px] lg:text-[16px] leading-4 md:leading-5 lg:leading-6 smooth group-hover:text-primary;
    }

    .blog-sec-content-h5 {
        @apply h5-style lg:text-[20px] text-Gray1 pb-4 md:pb-5 xl:pb-7 smooth group-hover:text-primary border-b border-Gray5 group-hover:border-primary;
    }

    .blog-sec-content-p {
        @apply text-Gray2 text-[12px] md:text-[14px] lg:text-[16px] leading-5 md:leading-6 py-4 md:py-5 lg:py-6 smooth group-hover:text-Gray1;
    }

    .blog-sec-btn {
        @apply w-fit flex items-center gap-2.5 border border-primary text-primary py-2 px-4 md:py-2.5 md:px-6 lg:py-3.5 lg:px-8 text-[12px] md:text-[14px] lg:text-[16px] leading-5 lg:leading-6 rounded-md smooth hover:bg-primary/20 hover:-translate-y-1 hover:shadow-lg hover:shadow-primary/30 active:scale-95;
    }

    .sidebar-box {
        @apply border border-Gray5 px-6 py-5 md:px-10 md:py-6 lg:px-14 lg:py-8 smooth hover:border-primary/60 hover:shadow-lg hover:shadow-primary/5 hover:-translate-y-1;
    }

    .sidebar-box-h6 {
        @apply h6-style text-Gray1 smooth group-hover:text-primary  lg:text-[20px];
    }

    .recent-post-item{
        @apply flex items-center gap-3 md:gap-4 py-3 md:py-3.75 border-b border-Gray5 smooth cursor-pointer hover:translate-x-1 hover:border-primary;
    }

    .recent-post-content{
        @apply flex flex-col gap-2;
    }

    .recent-post-content-span{
        @apply text-Gray3 text-[10px] md:text-[12px] lg:text-[14px] smooth group-hover/content:text-Gray2;
    }

    .recent-post-content-p{
        @apply text-Gray2 text-[12px] md:text-[14px] lg:text-[16px] smooth group-hover/content:text-primary;
    }

    .filter-menu-list{
        @apply flex flex-col gap-3 md:gap-4;
    }

    .filter-menu{
        @apply flex justify-between items-center smooth cursor-pointer hover:translate-x-1;
    }

    .filter-menu-start{
        @apply flex items-center gap-3 md:gap-4;
    }

    .filter-menu-start-span{
        @apply font-bold text-Gray1 text-[12px] md:text-[14px] lg:text-[16px] smooth group-hover/item:text-primary;
    }

    .filter-menu-span{
        @apply text-Gray1 text-[12px] md:text-[14px] lg:text-[16px] smooth group-hover/item:text-primary;
    }

    .popular-tag{
        @apply text-Gray2 text-[10px] md:text-[12px] lg:text-[14px] border border-Gray5 px-4.75 md:px-5.75 xl:px-6.75 py-2
        smooth hover:bg-primary hover:text-white hover:border-primary hover:-translate-y-1;
    }
    
    .photo-gallery{
        @apply relative overflow-hidden;
    }

    .eye-img{
        @apply absolute inset-0 bg-black/60 flex items-center justify-center opacity-0 group-hover/gallery:cursor-pointer group-hover/gallery:opacity-100 smooth ;
    }

    .follow-us{
        @apply bg-secondary/20 hover:bg-primary smooth pt-[8.86px] md:pt-[12.86px] pb-[8.64px] md:pb-[12.64px]
        hover:-translate-y-1 hover:shadow-md hover:shadow-primary/20;
    }
    
    .star-icon{
        @apply icon-hover hover:brightness-75 cursor-pointer;
    }
}

@utility h5-blog-card {
    @apply text-[14px] md:text-[15px] lg:text-[16px] xl:text-[24px] pt-3 xl:pt-4 pb-6 xl:pb-8 font-bold flex-1;
}

@utility blog-card-span {
    @apply text-[13px] leading-4 lg:text-[16px] lg:leading-6;
}

@utility a-blog-card {
    @apply text-[13px] leading-4 lg:text-[16px] lg:leading-6 smooth group-hover:text-primary;
}

@utility blog-footer-icon {
    @apply icon-hover hover:brightness-125;
}

@utility post-data-span {
    @apply text-Gray2 text-[12px] md:text-[13px] xl:text-[16px] leading-3 md:leading-4 xl:leading-6 smooth group-hover:text-white;
}

@utility post-data-p {
    @apply text-[13px] md:text-[14px] xl:text-[18px] leading-3.5 md:leading-4.5 xl:leading-6.5 smooth group-hover:text-primary;
}

@utility post-item-img {
    @apply smooth group-hover:scale-105;
}

@utility hero-link {
    @apply text-[16px] leading-6 md:text-[18px] md:leading-6 lg:text-[20px] lg:leading-7 relative smooth hover:text-primary after:content-[''] after:absolute after:left-0 after:-bottom-1 after:h-0.5 after:w-0 after:bg-primary after:transition-all after:duration-300 hover:after:w-full;
}

@utility menu-item-text {
    @apply gap-2 pb-3 md:pb-4;
}

@utility h5-menu-item-text {
    @apply font-bold text-[16px] lg:text-[20px] xl:text-[24px] text-Gray1 group-hover:text-primary smooth;
}

@utility p-menu-item-text {
    @apply text-Gray2 text-[14px] xl:text-[16px];
}

@utility span-menu-item-text {
    @apply text-Gray3 text-[14px] xl:text-[16px] group-hover:text-primary smooth;
}

@utility post-data-p-menu {
    @apply text-[10px] md:text-[12px] xl:text-[16px] smooth group-hover:text-primary;
}

@utility post-data-span-menu {
    @apply text-Gray2 text-[8px] md:text-[10px] xl:text-[14px] smooth group-hover:text-white;
}